/* stylelint-disable custom-property-no-missing-var-function */
:root {
    --font-family-main: consolas, "Times New Roman", serif;
    --font-size-m: 16px;
    --font-line-m: 24px;
    --font-m:
        var(var(--font-size-m) / var(var(--font-line-m) var(var(--font-family-main))))
        --font-size-l: 24px;
    --font-line-l:
        32px
        --font-m: var(var(--font-size-l) / var(var(--font-line-l) var(var(--font-family-main))));
    --navbar-height: 50px;
    --sidebar-width: 300px;
    --sidebar-width-collapsed: 80px;
}
