/* stylelint-disable selector-class-pattern */
.Button {
    cursor: pointer;
    color: var(--primary-color);
}

.clear {
    padding: 0;
    border: none;
    background: none;
    outline: none;
}

.outline {
    padding: 10px 15px;
    border: 1px solid rgb(4 164 4);
    color: rgb(4 164 4);
    background: none;
}
