.app.dark {
    --bg-color: #020267;
    --inverted-bg-color: #e8e8ea;
    --primary-color: rgb(8 154 8);
    --secondary-color: #045b04;
    --inverted-primary-color: rgb(16 6 111);
    --inverted-secondary-color: #542ff9;
}
