.app {
    --bg-color: #e8e8ea;
    --inverted-bg-color: #030350;
    --primary-color: rgb(41 25 184);
    --secondary-color: #3510dc;
    --inverted-primary-color: rgb(4 175 4);
    --inverted-secondary-color: #044804;

    // skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 / 20%);
}
