.app_blue_theme {
    --bg-color: #2a7806;
    --inverted-bg-color: #cfe1e8;
    --primary-color: #07eca3;
    --secondary-color: #035e03;
    --inverted-primary-color: #079f13;
    --inverted-secondary-color: #230698ea;

    // skeleton
    --skeleton-color: #9cbb90;
    --skeleton-shadow: #71b2cc;
}
